*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background-color: rgb(248, 135, 94);
}
.header{
    background: radial-gradient(#fff , rgb(0, 115, 255));
}
.header .row{
    margin-top: 70px;
}
.catagories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom:30px;
}
.col-3 img{
    width: 100%;
    padding: 10px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: auto;
    position: relative;
    line-height:60px;
    color: #555;
}
.title::after{
    content:'';
    background: rgb(255, 0, 0);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateX(-50);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.star .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-6px);
}
.offer{
    background: radial-gradient(#fff , rgb(0, 115, 255));
    margin-top: 50px;
    padding: 20px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
    text-align: center;
}

a {
  text-decoration: none;
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: radial-gradient(#fff , rgb(127, 128, 126));
  margin-top: 2em;

}

.testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #918a8a;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #ff0101;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #d12020;
  font-size: 0.8rem;
}

.reviews {
  color: #d9ff00;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 0.9rem;
  color: #ffffff;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}

@media(max-width:790px) {
  .testimonial-box {
    width: 100%;
  }

  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}

@media(max-width:340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .reviews {
    margin-top: 10px;
  }
}

::selection {
  color: #ffffff;
  background-color: #252525;
}
.brands{
  margin: 100px auto;
  text-align: center;
  margin-left: 5em;
  /* background-color:; */
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: transform 0.3s;

}
.col-5 img :hover{
  filter: grayscale(0);
  transform: translateX(-50);

}

 /* Products Page */
 .row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
 }
 select{
  border: 1px solid orangered;
  padding: 5px;
 }
 select:focus{
  outline: none;
 }
 .page-btn {
  margin: 0 auto 80px;
  margin-left: 55px;
 }
 .page-btn span{
  display: inline-block;
  border: 1px solid orangered;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
 }
 .page-btn span:hover{
  background-color: orangered;
  color: #fff;
 }
 .fa-brands {
  color: #fc7b3b;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}

.fa-brands:hover {
  color: #eca69a;
}
/* .footer{
  background-color: rgb(115, 115, 115);
  text-align: center;
  width:95em;
  /* margin:0..5em; */
  .col{
    margin-top: 5em;
  }
  .col-img{
    margin-bottom: 4em;
    padding: 2em;
  }
.small-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.small-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.small-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid orangered;
}
.small-product input:focus{
  outline: none;
}
.small-product .fa-indent{
  color: orangered;
  margin-left: 10px;
}
.cont{
  padding: 15em;
  margin-bottom: 7em;
}
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: orangered;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: orangered;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
/* Account page */
.account-page{
  padding: 50px 0;
    background: radial-gradient(#fff , rgb(0, 115, 255));

}
.form-container{
  background-color: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width:  100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px; 
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form.btn:focus{
  outline: none;
}
#LoginForm{
 margin-left: -300px;
}
#RegForm{
 margin-left: 0;
}
form a{
  font-size: 12px;
}
#Indicator{
  width:100px;
  border: none;
  background-color: orangered;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
/* Footer */
span{
  color: #ff3700;
  font-weight:900;
 
}
 
footer{
  background: #f1f1f1;
  padding: 90px 0;
}
 
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
 
.logo{
  width: 180px;
}
 
.social-media{
  margin: 20px 0;
}
 
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #ff6200;
}
 
.right-col h1{
  font-size: 26px;
}
 
.border{
  width: 100px;
  height: 4px;
  background: #ff2a00;
}
 
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
 
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background:orangered;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
 
.btn:hover{
background-color: #fff;
color: orangered;
}
 
.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }
 
  .left-col{
    width: 100%;
    text-align: center;
  }
}
 
 
@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}